# Imports

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\malac\Documents\Instacart Basket Analysis CF"

In [3]:
path

'C:\\Users\\malac\\Documents\\Instacart Basket Analysis CF'

In [32]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
#ords_prior and df_prods merge import

In [20]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_clean_no_dups.csv'), index_col = False)
#orders_cleaned import

In [27]:
df_depart = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)
#departments_wrangled import

In [28]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_clean_no_dups.csv'), index_col = False)
#productsclean import

# Task 4.6

## 4.

In [33]:
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [34]:
df_ords_prods_combined.shape

(32434489, 12)

In [29]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## 5.

In [54]:
df_merged_large = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = 'exist')
#merge with products dataset using "exist' to replace the "_merge" column

In [41]:
df_merged_large.shape

(32404859, 18)

In [51]:
df_merged_large.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exist
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

## 6.

In [57]:
df_merged_large['exist'].value_counts() #merge flag

both          32404859
left_only            0
right_only           0
Name: exist, dtype: int64

# This merge results in a full match

# Exports

In [58]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

# 4.7